// Font
$mainFont                : 'Arial', sans-serif;

// Size
$mainFontColor           : #21262B;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.3;

// Main color
$default-color           : #ffffff;
$primary-color           : #286BDC;
$hover-color             : #005FFF;